@charset "UTF-8";
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* Slider */
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat;
}

/* Icons */
@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
}

.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}

.slick-prev:hover:before, .slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}

.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
}

[dir="rtl"] .slick-prev {
  left: auto;
  right: -25px;
}

.slick-prev:before {
  content: "←";
}

[dir="rtl"] .slick-prev:before {
  content: "→";
}

.slick-next {
  right: -25px;
}

[dir="rtl"] .slick-next {
  left: -25px;
  right: auto;
}

.slick-next:before {
  content: "→";
}

[dir="rtl"] .slick-next:before {
  content: "←";
}

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}

.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}

.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1;
}

.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: black;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
  color: black;
  opacity: 0.75;
}

.slider {
  margin: 0 auto;
  width: 940px;
}

@media screen and (max-width: 414px) {
  .slider {
    width: 100%;
    padding-left: 0;
  }
}

.slider img {
  height: 300px;
  width: 70%;
  margin: 0 auto;
}

@media screen and (max-width: 414px) {
  .slider img {
    width: 100%;
    height: 250px;
  }
}

.slick-prev:before {
  color: #000;
  font-size: 40px;
  position: absolute;
}

.slick-prev {
  z-index: 25;
}

.slick-next:before {
  color: #000;
  font-size: 40px;
  position: absolute;
  left: -30px;
}

html, body {
  width: 100%;
  color: rgba(0, 0, 0, 0.5);
  font-size: 16px;
  font-family: Quicksand, 游ゴシック体, "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

a {
  color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
  transition: .3s;
}

a:hover {
  text-decoration: none;
  transition: .3s;
}

img {
  width: 100%;
  vertical-align: bottom;
}

ul {
  list-style: none;
}

html, body, h1, h2, h3, h4, h5, p {
  margin: 0;
  padding: 0;
}

.l-about {
  margin-top: 40px;
  margin-bottom: 40px;
  background-color: #e4cca3;
  padding-top: 40px;
  padding-bottom: 40px;
}

.l-about__title {
  font-family: "Noto Serif JP", serif;
  color: #b37f1e;
}

.l-contact {
  margin-top: 40px;
  margin-bottom: 40px;
}

.l-contact__title {
  border-top: 3px solid #e4cca3;
  border-bottom: 3px solid #e4cca3;
  padding: 10px;
  font-family: "Noto Serif JP", serif;
  color: #b37f1e;
}

.l-customer-voice {
  margin-top: 40px;
  margin-bottom: 40px;
}

.l-customer-voice__title {
  border-top: 4px solid #e4cca3;
  border-bottom: 4px solid #e4cca3;
  padding: 10px;
  font-family: "Noto Serif JP", serif;
  color: #b37f1e;
}

.l-footer {
  width: 100%;
  height: 80px;
  margin: 0 auto;
  background-color: #b37f1e;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.l-header {
  box-sizing: border-box;
  width: 100%;
  height: 150px;
  margin-top: 15px;
  text-align: center;
}

@media screen and (max-width: 414px) {
  .l-header {
    height: 100px;
  }
}

.l-header-title {
  font-size: 50px;
}

@media screen and (max-width: 414px) {
  .l-header-title {
    font-size: 30px;
    display: inline-block;
  }
}

.l-hero {
  background-image: url("../img/hero.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: 500px;
  position: relative;
}

.l-news {
  margin-top: 40px;
  margin-bottom: 40px;
}

.l-news__title {
  border-top: 4px solid #e4cca3;
  border-bottom: 4px solid #e4cca3;
  padding: 10px;
  font-family: "Noto Serif JP", serif;
  color: #b37f1e;
}

.l-container {
  width: 980px;
  margin: 0 auto;
  text-align: center;
}

.l-container__title {
  font-size: 30px;
  margin-bottom: 30px;
  text-align: center;
}

.l-container__body {
  text-align: center;
  margin: 0 auto;
}

@media screen and (max-width: 414px) {
  .l-container {
    width: 100%;
  }
}

.btn {
  cursor: pointer;
  border: none;
  width: 100%;
  padding: 15px 30px;
  font-size: 18px;
  transition: .3s;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.btn:hover {
  transform: translateY(-3px);
  transition: .3s;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.btn-color {
  color: #fff;
  background: #b37f1e;
  background: linear-gradient(to right, #b37f1e, #e4cca3);
}

.input {
  display: block;
  width: 100%;
  border: 3px solid #f6f5f4;
  border-radius: 4px;
  margin-bottom: 10px;
  height: 40px;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  outline: none;
}

.input:focus {
  border: 3px solid #e4cca3;
}

.input::placeholder {
  color: #ccc;
}

.input__comment {
  height: 100px;
}

.form {
  width: 100%;
}

.form-m {
  width: 60%;
  display: block;
  margin: 0 auto;
}

@media screen and (max-width: 414px) {
  .form {
    width: 80%;
  }
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 414px) {
  .menu {
    display: block;
  }
}

.menu__item {
  font-size: 18px;
  font-weight: bold;
}

@media screen and (max-width: 414px) {
  .menu__item {
    font-size: 38px;
    font-family: "Noto Serif JP", serif;
    width: 100%;
    margin: 40px 0;
  }
}

.menu__link:hover {
  color: #b37f1e;
}

.nav-menu {
  font-style: none;
  width: 940px;
  margin: 0 auto;
}

@media screen and (max-width: 414px) {
  .nav-menu {
    display: block;
    position: fixed;
    top: 0;
    right: -100%;
    background: rgba(255, 255, 255, 0.8);
    width: 100%;
    height: 100%;
    padding-top: 50px;
    transition: .5s;
  }
  .nav-menu.active {
    transition: .5s;
    transform: translateX(-100%);
    z-index: 2;
  }
}

.panel {
  width: calc(33% - 15px);
  height: 180px;
  margin: 0 auto 15px auto;
  display: block;
  overflow: hidden;
}

@media screen and (max-width: 414px) {
  .panel {
    height: 60px;
  }
}

.panel__body {
  transition: .4s;
}

.panel__body:hover {
  transform: scale(1.2, 1.2);
  transition: .4s;
}

.panel--hover {
  cursor: pointer;
}

.panel-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  min-height: 400px;
  position: relative;
}

@media screen and (max-width: 414px) {
  .card {
    min-height: auto;
    margin-bottom: 10px;
  }
}

.card__img {
  height: 180px;
}

.modal__modal {
  display: none;
  width: 60%;
  height: 90%;
  margin: 0 auto;
  background: white;
  border-radius: 5px;
  padding: 15px;
  box-sizing: border-box;
  position: fixed;
  top: 5vh;
  left: 20vw;
  z-index: 12;
}

@media screen and (max-width: 414px) {
  .modal__modal {
    width: 100%;
    top: 5vh;
    left: 0;
    height: 80%;
  }
}

.modal__return-icon {
  float: right;
  font-size: 40px;
  cursor: pointer;
  color: gray;
}

.modal__title {
  font-family: "Noto Serif JP", serif;
  margin-top: 40px;
  text-align: center;
}

.modal__text {
  font-size: 18px;
  width: 80%;
  margin: 15px auto;
}

.modal__img {
  width: 80%;
  height: 60%;
  display: block;
  margin: 0 auto;
}

@media screen and (max-width: 414px) {
  .modal__img {
    width: 100%;
  }
}

.modal__modal-cover {
  display: none;
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11;
  cursor: pointer;
}

.modal-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

@media screen and (max-width: 414px) {
  .modal-card-container {
    display: block;
  }
}

.modal-card {
  width: calc(33% - 15px);
  border: solid 4px #b37f1e;
  border-radius: 3px;
  box-sizing: border-box;
}

@media screen and (max-width: 414px) {
  .modal-card {
    width: 100%;
  }
}

.newslist {
  width: 70%;
  height: 100px;
  margin: 0 auto;
  background-color: #e4cca3;
  overflow-y: scroll;
  padding: 15px;
}

@media screen and (max-width: 414px) {
  .newslist {
    font-size: 14px;
  }
}

.newslist__title {
  font-weight: bold;
}

.newslist__item {
  text-align: left;
}

.newslist__item:not(:first-child) {
  margin-top: 5px;
}

.newslist__date {
  color: #b37f1e;
  font-weight: bold;
  margin-right: 10px;
}

.newslist__br {
  display: none;
}

@media screen and (max-width: 414px) {
  .newslist__br {
    display: block;
  }
}

.company-overview__design-box {
  border: 2px solid black;
  margin: 40px auto;
  position: relative;
  width: 90%;
  height: 50vh;
}

@media screen and (max-width: 414px) {
  .company-overview__design-box {
    height: 280px;
  }
}

.company-overview__message {
  font-size: 18px;
  padding: 5px;
  font-family: "Noto Serif JP", serif;
  text-align: left;
  color: black;
}

@media screen and (max-width: 414px) {
  .company-overview__message {
    font-size: 14px;
  }
}

.company-overview__image {
  width: 30%;
  position: absolute;
  bottom: -30px;
  right: -30px;
  z-index: 2;
}

@media screen and (max-width: 414px) {
  .company-overview__image {
    bottom: -10px;
    right: -10px;
  }
}

.company-overview__design-small-box {
  width: calc(30% - 30px);
  height: 119px;
  border-bottom: 2px solid white;
  border-right: 2px solid white;
  box-sizing: border-box;
  position: absolute;
  bottom: -1px;
  right: -2px;
  z-index: 2;
}

@media screen and (max-width: 414px) {
  .company-overview__design-small-box {
    width: calc(30% - 10px);
    height: calc(60px - 10px);
  }
}

.menu-trigger {
  display: none;
  width: 40px;
  height: 32px;
  z-index: 3;
  position: relative;
  right: -100px;
  box-sizing: border-box;
  cursor: pointer;
}

@media screen and (max-width: 414px) {
  .menu-trigger {
    display: inline-block;
  }
}

.menu-trigger span {
  display: inline-block;
  transition: all .4s;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
}

.menu-trigger span:nth-of-type(1) {
  top: 0;
}

.menu-trigger span:nth-of-type(2) {
  top: 14px;
}

.menu-trigger span:nth-of-type(3) {
  bottom: 0;
}

.menu-trigger.active span:nth-of-type(1) {
  transform: translateY(12px) rotate(-45deg);
}

.menu-trigger.active span:nth-of-type(2) {
  opacity: 0;
}

.menu-trigger.active span:nth-of-type(3) {
  transform: translateY(-15px) rotate(45deg);
}

.thumbnailCover {
  opacity: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: all .5s;
  background: rgba(0, 0, 0, 0.4);
}

.thumbnailCover:hover {
  opacity: 1;
  transition: all .5s;
}

.thumbnailCover__icon {
  color: white;
  font-size: 46px;
  position: absolute;
  top: 45%;
  left: 45%;
}

.modal-slider__modal {
  display: none;
  width: 80%;
  height: 80%;
  margin: 0 auto;
  background: white;
  border-radius: 5px;
  padding: 15px;
  box-sizing: border-box;
  position: fixed;
  top: 5vh;
  left: 10vw;
  z-index: 12;
}

@media screen and (max-width: 414px) {
  .modal-slider__modal {
    width: 100%;
    height: auto;
    left: 0;
  }
}

.modal-slider__return-icon {
  float: right;
  font-size: 40px;
  cursor: pointer;
  color: gray;
}

.modal-slider__title {
  font-family: "Noto Serif JP", serif;
  margin-top: 40px;
  text-align: center;
}

.modal-slider__text {
  font-size: 18px;
}

.modal-slider__modal-cover {
  display: none;
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11;
  cursor: pointer;
}
